# Stop dance for angie
# =======================
#
# ExecStop sends SIGSTOP (graceful stop) to the angie process.
# If, after 5s (--retry QUIT/5) angie is still running, systemd takes control
# and sends SIGTERM (fast shutdown) to the main process.
# After another 5s (TimeoutStopSec=5), and if ngiangienx is alive, systemd sends
# SIGKILL to all the remaining processes in the process group (KillMode=mixed).
#
#
[Unit]
Description=A high performance web server and a reverse proxy server
After=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/angie.pid
ExecStartPre=/usr/sbin/angie -t -q -g 'daemon on; master_process on;'
ExecStart=/usr/sbin/angie -g 'daemon on; master_process on;'
ExecStartPost=/bin/sleep 0.1
ExecReload=/usr/sbin/angie -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/angie.pid
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target